html,
body {
  height: 100%;
}

.altura{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

h1{
  text-align: center;
}
h4{
  color: white;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
.bg-dark-2
{
  margin-top:-8px;
  margin-left:225px;
  position: sticky; 
  top:0;
  background-color:#34495e;
}