{% extends 'base.html'%}

{% block contenido%}
{% load static %}
{% load crispy_forms_tags %}

  <body id="page-top">

    <div id="content" style="margin-top:50px">

      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size:30px">
            <a>Agregar Libro</a>
          </li>
        </ol>
        <div class="row">
              <div class="col-lg-12"></div>
                    <form method="post" action="{% url 'agregar_libros' %}">
                        {% csrf_token %}
                        <div class="row">
                        <div class="col-lg-6">
                            <label for="Nombre_Libro">Nombre Libro*</label>
                            <input type="text" value="" class="form-control" name="Nombre_Libro">
                        </div>
                        <div class="col-lg-6">
                            <label for="Nombre_Libro">Escritor Libro*</label>
                            <input type="text" value="" class="form-control" name="Escritor_Libro">
                        </div>
                    </div>
                        <label for="Categoria_Libro">Categoria Libro*</label>
                        <select name="Categoria_Libro" class="form-control">
                            {% for c in Categoria_Libros %}
                                <option value="{{c.id}}">{{c.nombre_categoria}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Agregar Libro</button>
                    </form>
            </div>
        </div>
    </div> 

</body>
{% endblock%}