{% extends 'base.html'%}

{% block contenido%}
{% load static %}
{% load crispy_forms_tags %}

  <body id="page-top">

    <div id="content" style="margin-top:50px">

      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size:30px">
            <a>Agregar Libro</a>
          </li>
        </ol>
        <div class="row">
              <div class="col-lg-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-lg btn-success btn-block">Agregar Libro</button>
                    </form>
            </div>
        </div>
    </div> 

</body>
{% endblock%}