<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static%}

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <title>{{titulo}}</title>
</head>
<body>
    <h3>{{titulo}}</h3>

    <nav class="navbar fixed-top bg-light">
        <nav class="navbar navbar-expand-lg fixed-top bg-dark" style="margin-left: 40px;margin-right: 40px; margin-top: 10px;">
            <a class="navbar-brand">
            </a>
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index'%}"><h5>SeeD</h5></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'perfil'%}"><h5>Perfil</h5></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'libros'%}"><h5>Lista de Libros</h5></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'agregar_libro'%}"><h5>Agregar de Libros</h5></a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="{% url 'subir_archivo'%}"><h5>Subir Archivos</h5></a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link" href="{% url 'lista_archivos'%}"><h5>Lista Archivos</h5></a>
                            </li>
                </ul>

            <form class="form-inline" action="{% url 'iniciar_sesion'%}" method="post">
                {% csrf_token %}

                {% if user.is_authenticated %}

                <h4> {{user.username}}</h4>

                <a href="{% url 'cerrar_sesion'%}" class="btn btn-danger my-2 my-sm-0" role="button" aria-disabled="true" style="margin-left: 10px;">Cerrar Sesión</a>

                {% else %}

                <a href="{% url 'password_reset'%}" aria-disabled="true" style="margin-left: 10px;">Recuperar contraseña</a>

                <input type="text" name="usuario" class="form-control" placeholder="Usuario" required autofocus>

                <input type="password" name="contrasenia" class="form-control" placeholder="Contraseña" required style="margin-left: 5px;">

                <button class="btn btn-success my-2 my-sm-0" type="submit" style="margin-left: 5px;">Iniciar Sesión</button>

                <a href="{% url 'registro'%}" class="btn btn-warning my-2 my-sm-0" role="button" aria-disabled="true" style="margin-left: 10px;">Registrate</a>

                {% endif%}

            </form>
        </nav>
    </nav>

        {% block contenido%}


        {% endblock%}

    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    
</body>
</html>



