{% extends 'base.html'%}

{% block contenido%}
{% load static %}
{% load crispy_forms_tags %}

  <body id="page-top">

    <div id="content" style="margin-top:50px">

      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size:30px">
            <a>Editar Libro</a>
          </li>
        </ol>
        <div class="row">
              <div class="col-lg-12">
                    <form method="post" action="">
                        {% csrf_token %}
                        <label for="Nombre_Libro">Nombre Libro*</label>
                        <input type="text" value="{{libro.Nombre_Libro}}" class="form-control" name="Nombre_Libro">
                        <br>
                        <label for="Escritor_Libro">Escritor Libro*</label>
                        <input type="text" value="{{libro.Escritor_Libro}}" class="form-control" name="Escritor_Libro">
                        <br>
                        <label for="Editorial_Libro">Editorial Libro*</label>
                        <input type="text" value="{{libro.Editorial_Libro}}" class="form-control" name="Editorial_Libro">
                        <br>
                        <label for="Categoria_Libro">Categoria Libro*</label>
                        <select name="Categoria_Libro" class="form-control">
                            {% for c in Categoria_Libros %}
                                <option value="{{c.id}}">{{c.nombre_categoria}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Editar Libro</button>
                    </form>
            </div>
        </div>
    </div> 

</body>
{% endblock%}