{% extends 'base.html'%}

{% block contenido%}
{% load static %}

  <body id="page-top">

  <div id="content" style="margin-top:50px">

      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size:30px">
            <a>SeeD</a>
          </li>
        </ol>
        
      <div id="carouselExampleControls" class="carousel slide box-2" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                  <img class="d-block w-100 altura" src="{% static 'img/img1.jpg' %}">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>Juntos</h5>
                      <p>Lograremos que nuestros niños lleguen lejos</p>
                    </div>
            </div>
            <div class="carousel-item">
                  <img class="d-block w-100 altura" src="{% static 'img/img2.jpg' %}">
            </div>
            <div class="carousel-item">
                  <img class="d-block w-100 altura" src="{% static 'img/img3.jpg' %}">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      
  </div> 
  <br>
  <h1>Que es SeeD</h1>
  <hr>

  <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              SeeD
            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
              SeeD es una biblioteca virtual que te permite solicitar y visualizar libros sin la necesidad de ir a una biblioteca fisica.
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Objetivos
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            El objetivo de SeeD es reforzar el estudio utilizando las tecnologías que tenemos a nuestro alcance.  
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Nuestro equipo
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
          Ariel Soto, Jorge Rios, Ricardo Marquez  
          </div>
        </div>
      </div>
    </div>
  </div> 
</body>
{% endblock%}