{% extends 'base.html'%}

{% block contenido%}
{% load static %}

  <body id="page-top">

    <div id="content" style="margin-top:50px">

      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size:30px">
            <a>Listado de Libros</a>
          </li>
        </ol>

        <input type="text" id="busca_tabla_libros" onkeyup="buscar()" placeholder="Buscar Libro" title="Type in a name" class="form-control">
        <br>

        <div class="row">
              <div class="col-lg-12">
                <form method="post">
                      {% csrf_token %}

                      <table class="table" id="tabla_libros">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nombre Libro</th>
                            <th scope="col">Escritor</th>
                            <th scope="col">Editorial</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for c in Libro %}
                                <tr>
                                    <td>{{ c.Nombre_Libro }}</td>
                                    <td>{{ c.Escritor_Libro }}</td>
                                    <td>{{ c.Editorial_Libro }}</td>
                                    <td>{{ c.Categoria_Libro.nombre_categoria }}</td>
                                    <td><a href="{% url 'borrar_libro' c.id %}" class="btn btn-danger my-2 my-sm-0" role="button" >Borrar Libro</a> <a href="{% url 'editar_libro' c.id %}" class="btn btn-warning my-2 my-sm-0" role="button" >Editar Libro</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </form>
            </div>
        </div>
    </div> 

</body>
{% endblock%}