{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block contenido%}
{% load static %}

<body id="page-top">

    <div id="content" style="margin-top:50px">

            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="font-size:30px">
                    <a>Lista Archivos</a>
                </li>
                </ol>

                <table class="table" id="tabla_libros">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Archivos</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for c in Archivos %}
                                <tr>
                                    <h1>asd</h1>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>

        </div>
</body>
{% endblock %}
