{% raw %}
{% extends 'base.html'%}
 
{% block title %}Reset Password{% endblock %}
 
{% block content %}
<p>Especifique su email para enviarle las instrucciones para la recuperación de contraseña.</p>
 
<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">Dirección de correo electrónico:</label> {{ form.email }} </p>
    <br>
    <p><input type="submit" value="Recuperar contraseña" /></p>
</form>
{% endblock %}
 
{% endraw %}