{% raw %}
 
{% extends "registration/base.html" %}
 
{% block title %}Recuperación de contraseña exitosa{% endblock %}
 
{% block content %}
<p>Hemos enviado las instrucciones de como recuperar la contraseña a la dirección de correo electrónico especificada</p>
<p>Estarás recibiendo el correo proto.</p>
{% endblock %}
 
 
{% endraw %}