{% raw %}
 
{% extends "registration/base.html" %}
{% block title %}Definir nueva contraseña{% endblock %}
 
{% block content %}
    {% if validlink %}
        <p>Por favor ingrese su nueva contraseña dos veces.<br />
          Así podremos verificar que es correcta.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar mi contraseña" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Recuperación de contraseña fallida</h1>
        <p>El vínculo de recuperación de contraseña es inválido, <br />
        Posiblemente ya ha sido usado <br />
        Por favor solicite una nueva contraseña.</p>
    {% endif %}
{% endblock %}
 
 
{% endraw %}