{% raw %}
 
{% extends "registration/base.html" %}
 
{% block title %}Password reset complete{% endblock %}
 
{% block content %}
<p>Tu contraseña ha sido definida. Ya puedes iniciar sesión de nuevo</p>
<p><a href="iniciar_sesion/">Iniciar sesión</a></p>
{% endblock %}
 
{% endraw %}