{% extends 'base.html'%}

{% block contenido%}
{% load static %}
{% load crispy_forms_tags %}

  <body id="page-top">

    <div id="content" style="margin-top:50px">

      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size:30px">
            <a>Perfil</a>
          </li>
        </ol>

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ user }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                  </tr>
                </tbody>
              </table>

        </div>

</body>
{% endblock%}