{% extends 'base.html'%}

{% block contenido%}
{% load static %}
{% load crispy_forms_tags %}

  <body id="page-top">

    <div id="content" style="margin-top:50px">

      <ol class="breadcrumb">
          <li class="breadcrumb-item" style="font-size:30px">
            <a>Registro</a>
          </li>
        </ol>
    <div class="container"> 
        <form method="post" id="formulario">
            {% csrf_token %}
            <table>
               {{ form|crispy }}
                <tr>
                   <td></td>
                   <td><input type="submit" class="btn btn-lg btn-success btn-block" name="submit" value="Registrar" /></td>
               </tr>
            </table>
        </form>
      </div>
    </div> 

</body>
{% endblock%}