{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block contenido%}
{% load static %}

<body id="page-top">

    <div id="content" style="margin-top:50px">

            <ol class="breadcrumb">
                <li class="breadcrumb-item" style="font-size:30px">
                    <a>Subir Archivo</a>
                </li>
                </ol>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Upload book</button>
        </form>

        </div>
</body>
{% endblock %}
